<form class="form-horizontal" name="changePasswordForm"
	ng-submit="changePasswordForm.$valid && changePassword(credentials)"
	ng-controller="ChangePasswordController">

	<!-- 	ng-class="{'enabled': editing}" -->

	<p class="title">Changement de mot de passe</p>

	<a id="edit" title="Editer" class="icon" href
		ng-click="editing=!editing" /><a
		ng-show="(editing||processing)&&(changePasswordForm.$valid)" id="save"
		title="Sauvergarder" class="icon" href
		ng-click="editing=false;changePassword(credentials)"><img
		id="processing" ng-show="processing" src="fmk_img/processing.gif" /></a>
	<!-- to prevent browser pre-fill password and the text before as login -->
	<input style="display: none" type="text" /> <input
		style="display: none" type="password" />
	<!-- to prevent browser pre-fill password and the text before as login -->


	<div class="form-group">
		<label for="pw" class="col-md-4 control-label">Ancien mot de
			passe</label>
		<div class="col-md-8">
			<input name="pw" required type="password" id="pw"
				ng-model="credentials.currentPassword" ng-disabled="!editing">
		</div>
	</div>

	<div class="form-group">
		<label for="pw1" class="col-md-4 control-label">Nouveau mot de
			passe (7 car. min)</label>
		<div class="col-md-8">
			<input name="pw1" required type="password" id="pw1"
				ng-model="credentials.password" ng-minlength="7"
				ng-disabled="!editing">
		</div>
	</div>

	<div class="form-group">
		<label for="pw2" class="col-md-4 control-label">Ancien mot de
			passe</label>
		<div class="col-md-8">
			<input name="pw2" required type="password" id="pw2"
				ng-model="credentials.password2" kwp-pw-check="pw1"
				ng-disabled="!editing">
		</div>
		<i ng-show="changePasswordForm.pw2.$error.pwdMatch == true">mot de
			passe différent</i>
	</div>
</form>