<div class="container-fluid">
	<div class="row ">
		<div class="col-md-8 col-md-offset-2 panel-group" id="company">
			<div class="panel panel-default">
				<div class="panel-heading" data-toggle="collapse"
					data-parent="#company" data-target="#collapseOne">
					<h4 class="panel-title">
						<span ng-if="LANG=='en'">CTO's summary</span> <span
							ng-if="LANG=='fr'">Le mot du fondateur</span> <span></span>
					</h4>
				</div>
				<div id="collapseOne" class="panel-collapse collapse in">
					<div class="panel-body">
						Ingénieur en informatique de formation, j'ai conçu et réalisé
						pendant 15 ans des produits logiciels gérant les réseaux
						d'opérateurs télécom et des systèmes d'information bancaires, pour
						le compte de grand éditeurs internationaux.<br> Je suis
						expert en systèmes In-Memory ultra performants, hautement
						disponibles et gérant de grandes quantités de données de façon
						transactionelle. Mon expérience m'a aussi conduit à étudier de
						près l'algorithmique des graphes et ses applications en génétique.<br>
						<br>J'ai commençé à créer ma propre technologie logicielle en
						2010 et j'ai fondé <strong>AkiGrafSoft</strong> en 2014 afin de
						mettre sur le marché des accélérateurs de développement logiciels.
					</div>
				</div>
			</div>
		</div>
	</div>
</div>