<div id="myCarousel" class="carousel slide" data-ride="carousel">
	<!-- Indicators -->
	<ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#myCarousel" data-slide-to="1"></li>
		<li data-target="#myCarousel" data-slide-to="2"></li>
		<li data-target="#myCarousel" data-slide-to="3"></li>
	</ol>
	<div class="carousel-inner">
		<div class="item active">
			<!-- 		<img -->
			<!-- 				src="data:image/gif;base64,R0lGODlhAQABAIAAAFVVVQAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" -->
			<!-- 				alt="First slide"> -->
			<img class="animated infinite pulse"
				src="./img/akigrafsoft_logo_box_300px.png" alt="">
			<div class="container">
				<div class="carousel-caption">
					<h1>
						<span ng-if="LANG=='en'">Our technology at your service</span> <span
							ng-if="LANG=='fr'">Notre technologie à votre service</span>
					</h1>
					<p>
						<span ng-if="LANG=='en'"> to build </span> <span
							ng-if="LANG=='fr'"> pour concevoir </span>
					</p>
					<p>
						<span>
							<ul ng-if="LANG=='en'">
								<li>Services platforms, Gateways</li>
								<li>Web sites and apps</li>
							</ul>
						</span> <span>
							<ul ng-if="LANG=='fr'">
								<li>Vos plateformes de services</li>
								<li>Sites internet et applications</li>
							</ul>
						</span>
					</p>
				</div>
			</div>
		</div>
		<div class="item">
			<img src="./img/saas.png" alt="">
			<div class="container">
				<div class="carousel-caption">
					<h1>
						<span ng-if="LANG=='en'">Software as a Service (SaaS)</span> <span
							ng-if="LANG=='fr'">Logiciels en tant que Services (SaaS)</span>
					</h1>

					<p>
						<span ng-if="LANG=='en'"> Using our plateform <b>KWebPlatform™</b>,
							we fastly build your service
						</span> <span ng-if="LANG=='fr'"> Avec notre plateforme <b>KWebPlatform™</b>,
							nous construisons efficacement vos services
						</span>
					</p>
					<br />
					<p>
						<span> <!-- 					<code>file://</code> -->
							<ul ng-if="LANG=='en'">
								<li>Provide real-time services over Internet</li>
								<li>Users management, security, access rights</li>
								<li>Nice display, performance</li>
							</ul>
						</span> <span>
							<ul ng-if="LANG=='fr'">
								<li>Fournir des services temps réél sur Internet</li>
								<li>Gestion des utilisateurs, sécurité, droits d'accès</li>
								<li>Design Web, performances</li>
							</ul>
						</span>
					</p>
				</div>
			</div>
		</div>
		<div class="item">
			<img src="./img/LogoWMDEMoyen.gif" alt="">
			<div class="container">
				<div class="carousel-caption">
					<h1>
						<span ng-if="LANG=='en'">Model Driven Engineering</span> <span
							ng-if="LANG=='fr'">Ingénierie dirigée par les modèles</span>
					</h1>

					<p>
						<span ng-if="LANG=='en'"> Using our product <b>KOneEdit™</b>,
							we model your ideas, data, needs, workflows
						</span> <span ng-if="LANG=='fr'"> Avec notre outil de modélisation
							<b>KOneEdit™</b>, nous capturons avec vous les idées, les
							données, le besoin
						</span>
					</p>
					<br />
					<p>
						<span> <!-- 					<code>file://</code> -->
							<ul ng-if="LANG=='en'">
								<li>Model driven development</li>
								<li>UML extensible modeling editor</li>
								<li>Share with partners and colleagues</li>
							</ul>
						</span> <span>
							<ul ng-if="LANG=='fr'">
								<li>La modélisation à la base du développement logiciel</li>
								<li>Modélisation UML étendue</li>
								<li>Clair, visuel, précis</li>
							</ul>
						</span>
					</p>
				</div>
			</div>
		</div>
		<div class="item">
			<img src="./img/rad.png" alt="">
			<div class="container">
				<div class="carousel-caption">
					<h1>
						<span ng-if="LANG=='en'">Rapid Application Development</span> <span
							ng-if="LANG=='fr'">Développement Accéléré</span>
					</h1>

					<p>
						<span ng-if="LANG=='en'"> <b>KNetThreadsPlatform™</b>
							enables fast development of performant and powerful applications
						</span> <span ng-if="LANG=='fr'"> Notre plateforme de
							développement <b>KNetThreadsPlatform™</b> permet de converger
							rapidement vers une solution puissante et performante
						</span>
					</p>
					<br />
					<p>
						<span> <!-- 					<code>file://</code> -->
							<ul ng-if="LANG=='en'">
								<li>Generate code from the models</li>
								<li>Runtime is designed for multithread, in-memory,
									reliable applications</li>
								<li>Take benefit from our pre-built reusable services</li>
							</ul>
						</span> <span>
							<ul ng-if="LANG=='fr'">
								<li>Le code applicatif est généré automatiquement à partir
									de sa modélisation fonctionnelle</li>
								<li>L'application dispose d'une plateforme puissante aux
									services techniques avancés et réutilisables (gestion réseau,
									parallélisme)</li>
							</ul>
						</span>
					</p>
				</div>
			</div>
		</div>
	</div>
	<span class="left carousel-control" data-target="#myCarousel"
		role="button" data-slide="prev"><span
		class="glyphicon glyphicon-chevron-left"></span></span> <span
		class="right carousel-control" data-target="#myCarousel" role="button"
		data-slide="next"><span
		class="glyphicon glyphicon-chevron-right"></span></span>
</div>
