<div id="legal" class="container-fluid">
	<div class="row ">
		<div class="col-md-8 col-md-offset-2 panel-group" id="legal">
			<div class="panel panel-default">
				<div class="panel-heading" data-toggle="collapse"
					data-parent="#legal" data-target="#collapseOne">
					<h4 class="panel-title">
						<span ng-if="LANG=='en'">Company </span> <span ng-if="LANG=='fr'">Entreprise</span>
						<span></span>
					</h4>
				</div>
				<div id="collapseOne" class="panel-collapse collapse in">
					<div class="panel-body">
						<strong>AkiGrafSoft</strong> <br /> <strong>N° SIRET /
							SIREN</strong> : 805 201 845 00015 / 805 201 845<br /> <small>«
							dispensé d’immatriculation en application de l’article L 123-1-1
							du code du commerce »</small>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading" data-toggle="collapse"
					data-parent="#legal" data-target="#collapseTwo">
					<h4 class="panel-title">
						<span ng-if="LANG=='en'">Postal address</span> <span
							ng-if="LANG=='fr'">Adresse postale</span>
					</h4>
				</div>
				<div id="collapseTwo" class="panel-collapse collapse in">
					<div class="panel-body">
						<address>
							<strong>AkiGrafSoft</strong><br> 7, rue Condorcet<br>
							75009 Paris<br>
							<!-- 					<abbr title="Phone">Tel:</abbr> (+33) 6 89 66 64 98 -->
						</address>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading" data-toggle="collapse"
					data-parent="#legal" data-target="#collapseThree">
					<h4 class="panel-title">
						<span ng-if="LANG=='en'">Host</span> <span ng-if="LANG=='fr'">Site
							internet </span> <b>AkiGrafSoft.com</b> / <b>.fr</b>
					</h4>
				</div>
				<div id="collapseThree" class="panel-collapse collapse in">
					<div class="panel-body">
						Edité et hébergé par <strong>AkiGrafSoft</strong>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>