<div id="portfolio" class="carousel slide" data-ride="carousel">
	<!-- Indicators -->
	<!-- 	<ol class="carousel-indicators"> -->
	<!-- 		<li data-target="#portfolio" data-slide-to="0" class="active"></li> -->
	<!-- 		<li data-target="#portfolio" data-slide-to="1"></li> -->
	<!-- 		<li data-target="#portfolio" data-slide-to="2"></li> -->
	<!-- 	</ol> -->
	<div class="carousel-inner">
		<div class="item active">
			<img src="./img/Akigrafsoft_GenetiqueDesAnes_screen02.jpeg" alt="">
			<div id="genetik" class="container">
				<div class="carousel-caption">
					<h1>
						<!-- 						<span ng-if="LANG=='en'">Animals Genetic Advice</span> <span -->
						<!-- 							ng-if="LANG=='fr'">Génétique Des Anes</span> -->
						<a href="http://akigrafsoft.com/genetik" target="_blank">GenetiK</a>
					</h1>

					<p>
						<span> <!-- 					<code>file://</code> -->
							<ul ng-if="LANG=='en'">
								<li>A powerful Genetic calculation software</li>
								<li>Real-time advices about breeding</li>
								<li>Helps breeders to save donkey breeds in France</li>
							</ul>
						</span> <span>
							<ul ng-if="LANG=='fr'">
								<li>Un outil puissant de calcul génétique</li>
								<li>Conseil en temps réel sur les choix d'accouplement</li>
								<li>Aide les éleveurs à sauvegarder leurs races d'animaux</li>
							</ul>
						</span>
					</p>
				</div>
			</div>

		</div>
	</div>
	<!-- 	<span class="left carousel-control" data-target="#portfolio" -->
	<!-- 		role="button" data-slide="prev"><span -->
	<!-- 		class="glyphicon glyphicon-chevron-left"></span></span> <span -->
	<!-- 		class="right carousel-control" data-target="#portfolio" role="button" -->
	<!-- 		data-slide="next"><span -->
	<!-- 		class="glyphicon glyphicon-chevron-right"></span></span> -->
</div>