<div class="container-fluid">
	<div class="row ">
		<div class="col-md-8 col-md-offset-2  panel-group" id="products">
			<div class="panel panel-default">
				<div class="panel-heading" data-toggle="collapse"
					data-parent="#products" data-target="#collapseOne">
					<h4 class="panel-title">
						<span ng-if="LANG=='en'">Genetik-SDK : Software
							Developement kit</span><span ng-if="LANG=='fr'">Genetik-SDK : Kit
							de Développement</span>
					</h4>
				</div>
				<!-- 				in -->
				<div id="collapseOne" class="panel-collapse collapse">
					<div class="panel-body">
						<p>
							<span ng-if="LANG=='en'">This is a Software Development
								kit with fast in-memory processing algorithms applied to
								genetics computing.</span> <span ng-if="LANG=='fr'">Genetik-SDK
								est un Kit de Développement, vendu en licence.<br /> C'est un
								moteur de calcul qui embarque de puissants algorithmes appliqués
								à la génétique.
							</span>
						</p>
						<p>
							<span>
								<ul ng-if="LANG=='en'">
									<li>inbreeding/kinship coefficients algorithms</li>
									<li>most important/efficient ancestors research</li>
									<li>and much more</li>
								</ul>
							</span> <span>
								<ul ng-if="LANG=='fr'">
									<li>coefficients de consanguinité/parenté</li>
									<li>recherche des ancêtres majeurs et efficaces</li>
									<li>et bien plus encore...</li>
								</ul>
							</span>
						</p>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading" data-toggle="collapse"
					data-parent="#products" data-target="#collapseTwo">
					<h4 class="panel-title">Genetik-Web</h4>
				</div>
				<div id="collapseTwo" class="panel-collapse collapse">
					<div class="panel-body">
						<p>
							<span ng-if="LANG=='en'"> SaaS online service helping
								breeders with genetics advice to run their business </span> <span
								ng-if="LANG=='fr'"> Un service logiciel de <strong>conseil</strong>
								aux éléveurs et Organismes de Selection afin de garantir la
								variabilité génétique dans les races d'animaux
							</span>
						</p>
						<p>
							<span>
								<ul ng-if="LANG=='en'">
									<li>Real-time advice service</li>
									<li>Genetic management tools</li>
								</ul>
							</span> <span>
								<ul ng-if="LANG=='fr'">
									<li>Conseil génétique en temps réel pour les accouplements</li>
									<li>Outils de calcul pour l'aide à la gestion des
										population</li>
								</ul>
							</span>
						</p>

						<a href="http://www.akigrafsoft.com/genetik" target="_blank">Genetik-Web</a>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>

