<div class="container-fluid">
	<div class="row ">
		<div class="col-md-8 col-md-offset-2  panel-group" id="technology">
			<div class="panel panel-default">
				<div class="panel-heading" data-toggle="collapse"
					data-parent="#technology" data-target="#collapseOne">
					<h4 class="panel-title">
						<span ng-if="LANG=='en'">Software As A Service </span> <span
							ng-if="LANG=='fr'">Logiciel en tant que Service</span> <span></span>
					</h4>
				</div>
				<div id="collapseOne" class="panel-collapse collapse in">
					<div class="panel-body">
						&emsp;A la différence d'un simple site internet consultatif telle
						que la vitrine commerciale d'une société ou un blog, un <b>Logiciel
							Web</b> permet de mettre à disposition sur internet des services
						métier qui nécessitent une logique complexe, ainsi qu'une
						infrastructure serveur importante.<br />&emsp;Néanmoins une part
						importante de cette infrastructure sera commune à beaucoup
						d'applications, comme la gestion des utilisateurs, de la sécurité.
						<b>KWebPlatform™</b> implémente tout cela et est un formidable
						accélérateur à la mise en oeuvre de votre service.
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading" data-toggle="collapse"
					data-parent="#technology" data-target="#collapseTwo">
					<h4 class="panel-title">
						<span ng-if="LANG=='en'">Model Driven Engineering</span> <span
							ng-if="LANG=='fr'">Ingénierie dirigée par les modèles</span>
					</h4>
				</div>
				<div id="collapseTwo" class="panel-collapse collapse">
					<div class="panel-body">
						&emsp;Le développement d'application piloté par les modèles est un
						concept qui vise à se focaliser sur la modélisation de ce que doit
						faire l'application et de s'appuyer sur une génération de code
						automatique à partir de cette modélisation. <br /> <b>KOneEdit™</b>
						est un outil qui permet de modéliser tout ce que vous imaginez.<br />Extensible
						par méta-modélisation pour chaque modèle, il offre une infinité de
						possiblité de représenter les données et le comportement d'une
						application.
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading" data-toggle="collapse"
					data-parent="#technology" data-target="#collapseThree">
					<h4 class="panel-title">
						<span ng-if="LANG=='en'">Rapid Application Development</span> <span
							ng-if="LANG=='fr'">Développement Accéléré d'Applications</span>
					</h4>
				</div>
				<div id="collapseThree" class="panel-collapse collapse">
					<div class="panel-body">
						&emsp;Le développement d'une application peut-être long quand
						toute l'infrastructure technique est à faire.<br /> <br /> <b>KNetThreadsPlatform™</b>
						accélère la création d'applications en proposant :
						<ul id="text">
							<li>de modéliser le fonctionnel par des diagrammes UML à
								l'aide de <b>KOneEdit™</b>
							</li>
							<li>de générer automatiquement le code permettant de
								compiler la modélisation en une application Java opérationnelle.</li>
						</ul>
						&emsp;Cela permet à l'Architecte de l'application se concentrer
						sur l'organisation fonctionnelle, et au développeur de se
						concentrer sur l'implémentation métier, en se déchargeant de la
						technique bas niveau (gestion des threads, du réseau, etc.).<br />
						<br /> <b>KNetThreadsPlatform™</b>, c'est donc aussi :
						<ul>
							<li>un framework d'application multithread orienté
								'messages'</li>
							<li>une gestion unifiée des couches réseau via les <b>Connector™</b>
								: un accès réseau est modélisé par un simpe 'module' dans le
								diagramme UML
							</li>
							<li>un design soigné pour obtenir les meilleurs performances
								possible.</li>
						</ul>
						<br /> Note : Une multitude de <b>Connector™</b> sont déjà
						disponibles (Http, Jdbc, Jms, Jsmpp, WebServices) et libres
						(OpenSource) ! Le framework <b>Connector™</b> est extensible à
						tout type de communication réseau.
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading" data-toggle="collapse"
					data-parent="#technology" data-target="#collapseFour">
					<h4 class="panel-title">
						<span ng-if="LANG=='en'">Portability, Robustness,
							Performance</span> <span ng-if="LANG=='fr'">Portabilité,
							Robustesse, Performance</span>
					</h4>
				</div>
				<div id="collapseFour" class="panel-collapse collapse">
					<div class="panel-body">
						Toutes nos technologies sont basées sur Java7 et bénéficient donc
						des avantages suivants :
						<ul>
							<li>Portabilité : tous les principaux systèmes sont
								supportés (Windows/Unix/Linux/Mac)</li>
							<li>Performance et Robustesse : Java et sa JVM sont des
								technologies très éprouvées et réputées</li>
							<li>Java est le langage le plus répandu dans le monde des
								développeurs.</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>